/*Règles générales*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway-Regular', sans-serif;
}

main,.footer {
    max-width: 1170px;
    margin: auto;
}

main, .middle-hosting{
    margin-top: 20px;
}

h2{
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 500;
}

h3{
    margin-top: 5px;
    font-size: 0.8em;
}

p{
    font-size: 0.75em;
    font-weight: lighter;
}

a{
    color: rgb(20, 20, 20);
    text-decoration: none;
}

img{
    object-fit: cover;
}



/*Header géneral*/

header, .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header{
    flex: 1;
}

header, .concept{
    margin: 20px 40px;
    margin-left: 0;
}

.logo{
    margin-top: 30px;
    
}

/* Navigation header*/

nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-weight: lighter;
    font-size: 16px;
    margin: 40px;
}

nav ul{
    display: flex;
    list-style-type: none;
    width: auto;
    margin: auto;
}

nav li{
    padding: 0 40px;
    line-height: 40px;
}

nav li a:hover{
    display: block;
    margin-top: -1px;
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

/*Inscription*/

.inscribe{
    display: flex;
    align-items:center;
        
}

.inscribe a{
    font-weight: bold;
    color: #0065fc;
}

/*Texte Introduction*/

#introduce{
    display: flex;
    flex-direction: column;
}

#introduce h1{
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 6px;
}

#introduce p{
    margin-top: 4px;
    font-size: 0.90em;
    font-weight: lighter;
}

/*Espace recherche */

label{
    display: block;
    line-height: 40px;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
}
i.fa-map-marker-alt{
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: #f2f2f2;
    color: black;
    border-radius: 10px 0 0 10px;
}

i.fa-search {
    width: 40px;
    margin-left: -45px;
    color: #fff;
}

input{
    display: block;
    padding-left: 10px;
    font-weight: bold;
    color: black;
    font-size: 0.90em;
    border: none;
}

button{
    padding: 0 15px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    background: #0065fc;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

/*Filtres*/

.filters{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.filters p{
    margin: 8px 20px 0 0;
    line-height: 50px;
    font-weight: bold;
}

.filters i{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    padding-top: 12px;
    text-align: center;
    background: #deebff;
    border-radius: 35px;
}

.filters ul{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.filters li{
    display: flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    border-radius: 40px;
    background: none;
    font-weight: 600;
    font-size: 0.90em;
    padding-right: 20px;             /*filtres, changement d'apparence au survol*/
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.filters li:hover{
    color: #f2f2f2;
}

.filters li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    background: #f2f2f2;
    z-index: -1;
    transition: 0.8s;
   
}

.filters li::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.filters li:hover::before{
    height: 180%;
}

/*Icons, police size*/

i {
    color: #0065fc
}

i.fa-star {
    font-size: 10px;
}

i.no-star {
    color: #d9d9d9;
}

i.fa-info{
    height: 20px;
    width: 20px;
    margin-right: 10px;
    padding-top: 2px;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
}

/* All cards*/

.cards{
    margin-bottom:20px;
    border-radius: 20px;
    box-shadow: 1px 1px 5px #d8d6d6;
    transition: all 300ms ease-in-out;
}
                                                  /*  carte d’hébergement ou d’activité devra 
                                                  être cliquable dans son intégralité.*/
.cards:hover{
    transform: translate(0,-7px);
    box-shadow: 0px 25px 15px -15px rgba(0,0,0,.2);
}

.cards span{
    font-weight: bold;
}

/* Section Hébergements*/

.category{
   margin-left: 15px;
}

.middle-hosting{
    display: flex;
    justify-content:space-between;
}

#hosting{
    max-width: 780px;
    border-radius: 10px;
    background: #f2f2f2;
    flex:1;
}

#hosting h2, p.more{
    margin-top: 30px;
    margin-left: 30px;
}

#hosting p.more{
    font-weight: bold;
}

.hosting{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin:auto;
}

.hosting .cards{
    padding:4px;
    background: rgb(250, 250, 250);
}


.hosting img{
    height: 100%;
    width: 200px;
    max-height: 100px;
    border-radius: 10px 10px 0 0;
    
}

/* Aside Les plus populaires*/

#populars{
    width: 340px;
    border-radius: 10px;
    background: #f2f2f2;
}

#populars h2{
    display: inline-block;
    width: 80%;
    margin-top: 30px;
    margin-left: 30px;
   
    
}

#populars i.fa-chart-line{
    color: black;
}

.populars{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.populars .cards{
    max-width: 270px;
    padding: 5px;
    background: rgb(250, 250, 250);
    
    
}
.populars .cards a{
    display: flex;
}

.populars img{
    height: 110px;
    width: 100%;
    max-width: 100px;
    border-radius: 10px 0 0 10px;
}

.populars .category{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding-right: 15px;
    
    
}

/*Section Activités*/

#activity {
    margin-top: 40px;
} 

.activity{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activity h3{
    margin-left: 15px;
    line-height: 3em;
    
}

.activity .middle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activity img{
    height: 100%;
    width: 240px;
    border-radius: 10px 10px 0 0;
}

.activity .activityl img{
    max-height: 300px;
}

.activity .activitym img{
    max-height: 140px;
}

.activity .activityms img{
    max-height: 120px;
}

.activity .activitys img{
    max-height: 90px;
}

.activity .activityss img{
    max-height: 110px;
}

/* Footer*/

footer{
    margin-top: 40px;
    padding-top: 40px;
    background: #f2f2f2;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h3{
    margin-bottom: 15px;
    font-weight: 500;
}

footer ul{
    width: 340px;
    margin-bottom: 20px;
    list-style-type: none;
    font-size: 0.85em;
    font-weight: lighter;
}

footer li{
    line-height: 2em;
}

/* Requêtes Média*/

@media only screen and (max-width: 1220px){
    header {
        justify-content: space-between;
    }
    .header{
        margin-left: 25px;
    }
    .concept{
        margin-left: 25px;
    }
    
    .middle-hosting{
    flex-wrap: wrap-reverse;
    } 
    
    .hosting, .populars, .activity{
        justify-content: space-around;
        }  

    #hosting{
    max-width: 100%;
    background:#fff;
    } 

    .hosting img, .activity img{
    width: 395px;
    }

    #populars{
    width: 100%;
    border-radius: 0;
    }
    .populars{
    flex-direction: row;
    flex-wrap: wrap;
   
    
    }
    #activity h2{
    margin-left: 20px;
    }

    .footer{
        margin-left: 40px;
    }
}

@media only screen and (max-width: 992px){

    .hosting img, 
    .activity img{
        width: 400px;
    }
    .header{
        margin-left: 25px;
    }
    .concept{
        margin-left: 25px;
    }
    .populars {
        flex-direction: row;
    }
}

@media only screen and (max-width:768px) {
    .populars img{
        display: flex;
        flex-direction: row;
        width: 400px;
        
    }
    .hosting img,
    .activity img {
        width: 400px;
        height: 150px;
    }
    
}

@media only screen and (max-width:670px){

    p{
        font-size: 0.85em;
        display:flex
    }

    header{
        margin-left: 0;
        margin-right: 0;
    }

    .logo{
        margin-left: 20px;
        margin-top: 0;
    }
    nav{
        width:100%;
        margin: 40px 0;
    }
    nav ul{
        width: 100%;
    }
    nav li{
        flex:1;
        padding: 0;
        text-align: center;
        border-bottom: 3px solid #f2f2f2;
    }
    nav li a:hover{
        display: block;
        margin-top: 0px;
        margin-bottom: -3px;
        color: #0065fc;
        border-top:none ;
        border-bottom: 3px solid #0065fc;
    }
    .inscribe{
        position:absolute;
        top: 35px;
        right: 20px;
    }
    button{
        height: 40px;
        max-width: 40px;
        border-radius: 10px;
        overflow: hidden;
    }
    .search {
    
     width: 295px;
            
    }
    i.fa-search{
        margin-left: -15px;
    }
    
    .populars img {
        display: flex;
        
        
    }
     .activity img{
        height: 150px;
        width: 350px;
    }
    .hosting img{
        width: 350px;
    }

    .footer{
        margin-left: 20px;
    }
    
}    





